# Assignment 20

**1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.**

In [1]:
test1 =  'This is a test of the emergency text system,' 
filename = open( 'test.txt', 'w')
filename.write(test1)
filename.close()

In [4]:
f=open('test.txt','r')
f.read()
f.close()

**2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1
and test 2?**

In [7]:
r_file = open('test.txt','r')
test2 = r_file.read()
print(test2)
r_file.close()

#difference between test 1 and test 2
if test2 == test1:
    print('both files test1 & test2 are same')
else :
    print('they are different')

This is a test of the emergency text system,
both files test1 & test2 are same

**3. Create a CSV file called books.csv by using these lines:**

title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [37]:
import csv
rows =[ ['title','author','year'],
    ['The Weirdstone of Brisingamen','Alan Garner',1960],
    ['Perdido Street Station','China Miéville',2000],
    ['Thud!','Terry Pratchett',2005],
    ['The Spellman Files','Lisa Lutz',2007],
    ['Small Gods','Terry Pratchett',1992]]
with open('books.csv','w',newline='') as file:
    writer = csv.writer(file)
    writer.writerows(rows)
    
with open('books.csv','r',newline='') as file:
    for line in file.readlines():
        print(line)

title,author,year

The Weirdstone of Brisingamen,Alan Garner,1960

Perdido Street Station,China Miéville,2000

Thud!,Terry Pratchett,2005

The Spellman Files,Lisa Lutz,2007

Small Gods,Terry Pratchett,1992

**4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).**

In [38]:
import sqlite3
conn = sqlite3.connect('books.db')
print('Database create successfully')
cursor = conn.cursor()
cursor.execute('DROP TABLE IF EXISTS BOOKS')
cursor.execute('create table books(title varchar(20), author varchar(20), year int(20))')
conn.commit()

Database create successfully

**5. Read books.csv and insert its data into the book table.**

In [41]:
import pandas as pd

read_books = pd.read_csv('books.csv',encoding='unicode_escape')
read_books.to_sql('books', conn, if_exists='append', index = False)

5

**6. Select and print the title column from the book table in alphabetical order.**

In [43]:
cursor.execute('select title from books order by title asc')
print(cursor.fetchall())

[('Perdido Street Station',), ('Small Gods',), ('The Spellman Files',), ('The Weirdstone of Brisingamen',), ('Thud!',)]

**7. From the book table, select and print all columns in the order of publication.**

In [45]:
cursor.execute('select title, author,year from books order by year')
#print(c.fetchall())

df = pd.DataFrame(cursor.fetchall(), columns=['title','author','year'])
df

                           title           author  year
0  The Weirdstone of Brisingamen      Alan Garner  1960
1                     Small Gods  Terry Pratchett  1992
2         Perdido Street Station   China Miéville  2000
3                          Thud!  Terry Pratchett  2005
4             The Spellman Files        Lisa Lutz  2007

**8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.**

In [47]:
import sqlalchemy
engine = sqlalchemy.create_engine("sqlite:///books.db")
rows = engine.execute('select * from books')
for i in rows:
    print(i)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

**9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.**

In [ ]:
#!pip install redis

In [ ]:
import redis
conn = redis.Redis()
conn.delete('test')
conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})
conn.hgetall('test')

**10. Increment the count field of test and print it.**

In [ ]:
conn.hincrby('test','count', 3)