###1.What are the two values of the Boolean data type? How do you write them?

ANS : 

True=1 and False=0 is value of the boolen data type.

We have to use capital T and F and with the rest of the word in lowercase


i.e True & False

###2. What are the three different types of Boolean operators?
ANS : The three basic boolean operators is: Not , And , Or

In [ ]:
#EX.

a=100
b=200
print(a>50 and b>100) # Example of boolean and
print(a>200 or b>100) # Example of boolean or
print(not(a>10)) # Example of boolean not

True
True
False

###3. Make a list of each Boolean operator's truth tables (i.e. every possible combination of Boolean values for the operator and what it evaluate ).
---------------------------------------------

ANS : TRUTH TABLE


 X  | Y  |  Not X  |  Not Y  | X or Y | X And Y
- | - | - | - | - | - 
False| False| True|True|False|False
False| True| True|False|True|False
True| False| False|True|True|False
True| True| False|False|True|True

###4. What are the values of the following expressions?

1. (5 > 4) and (3 == 5)

2. not (5 > 4)

3. (5 > 4) or (3 == 5)

4. not ((5 > 4) or (3 == 5))

5. (True and True) and (True == False)

6. (not False) or (not True)

1.(5 > 4) and (3 == 5)

In [ ]:
A= (5>4) # 5 is greater than 4= true
B=(3==5) #3 is not equal to 5

print(A)
print(B)
if A and B:
  print("(5 > 4) and (3 == 5): given statement is true")
else:
   print("(5 > 4) and (3 == 5) : given statement is false")

True
False
(5 > 4) and (3 == 5) : given statement is false

2.Not (5>4)

In [ ]:
A = not (5>4)
if A:
  print("false")
else :
  print("true")

true

3. (5 > 4) or (3 == 5)
Condition (1): if anyone condition is true the ans is true

In [ ]:
A= (5>4) # 5 is greater than 4= true
B=(3==5) #3 is not equal to 5                       

print(A)
print(B)
if A or B:
  print("(5 > 4) or (3 == 5): given statement is true")
else:
   print("(5 > 4) or (3 == 5) : given statement is false")

True
False
(5 > 4) or (3 == 5): given statement is true

4. not ((5 > 4) or (3 == 5))

In [ ]:
print(not((5>4)or(3==5))) # False

False

5.(True and True) and (True == False)
when all conditions are true the result is true

In [ ]:
(True and True) and (True == False) #when all conditions are true 
  #the result is true

False

6. (not False) or (not True)

In [ ]:
(not False) or (not True)
A= (not False)
B= (not True)
print(A)
print(B)
if A or B:
  print("statment is true")
else:
  print("statment is false")

True
False
statment is true

###5. What are the six comparison operators?
ANS : 

operators | meaning
- | -
> | Greater than
< | Less than
>=|Greater than equal to
<=|Less than equal to
==|Equal to
!=|Not equal to

###6. How do you tell the difference between the equal to(==) and assignment(=) operators?
##Describe a condition and when you would use one.

###ANS:
Equal to (==): 
   operator checks whether the two given operands are same and give o/p in true or false.

assignment (=):
   assignment operator used to assign the value to the      veriable.

In [ ]:
#ex of (==)

A=(5==5)
B=(4==3)
if A:
  print(f"{A}:statement A right")
  if B:
    print(f"{B}: statement B is right")
  else:
    print(f"{B}: statement B is wrong")
else:
   print(f"{A}:statement A wrong")

True:statement A right
False: statement B is wrong

In [ ]:
#ex of =

a=5

a

5

A=5


###7. Identify the three blocks in this code:
spam = 0


if spam == 10:


print('eggs')


if spam > 5:


print('bacon')


else:


print('ham')


print('spam')

print('spam')

ans-----In Python, code block refers to a collection of code that is in the same block or indent. This is most commonly found in classes, functions, and loops.

In [ ]:
spam = 0
if spam == 10:
 print('eggs')
if spam > 5:
  print('bacon')
else:
  print('ham')
  print('spam')
  print('spam')

ham
spam
spam

###8. Write code that prints Hello if 1 is stored in spam, prints Howdy if 2 is stored in spam, and prints Greetings! if anything else is stored in spam.

In [ ]:
spam=int(input("numbers: "))
if spam==1:
  print('hello')
elif spam==2:             
  print("howdy")
else:
  print("greatings")

numbers: 2
howdy

###9.If your programme is stuck in an endless loop, what keys you’ll press?
ANS:
Press Ctrl-c to stop a program stuck in an infinite loop

###10.How can you tell the difference between break and continue?



ans---

The break statement will move the execution outside the loop if break condtion is satisfied. 

Whereas the continue statement will move the execution to the start of the loop.

###11.in a for loop, what is the difference between range(10), range(0, 10), and range(0, 10, 1)?


ans----

The Differences is:

1.The range(10) call range from 0 to 9 (but not include 10)

2.The range (0,10) explicitly tells the loop to start at 0

3.The range(0,10,1) explicitly tells the loop to increase the variable by 1 on each iteration.

###12. Write a short program that prints the numbers 1 to 10 using a for loop. Then write an equivalent program that prints the numbers 1 to 10 using a while loop.

In [ ]:
print('*'*10,'Using For Loop','*'*10) 
for i in range(1,11):
    print(i, end=" ")
print('\n')
print('*'*10,'Using For Loop','*'*10)
i=1
while i<=10:
    print(i, end=" ")
    i+=1

********** Using For Loop **********
1 2 3 4 5 6 7 8 9 10

********** Using For Loop **********
1 2 3 4 5 6 7 8 9 10

###13.If you had a function named bacon() inside a module named spam, how would you call it after importing spam?

ans-----

spam.bacon ()