# **Assignment_23**

**1. What is the result of the code, and why?**

In [5]:
def func(a, b=6, c=8):
 print(a, b, c)
func(1, 2)

1 2 8

**ANS**:func(1, 2) will print 1 2 8 on the console because as per the function func definition, the value of third parameter c is by default 8 if not passed explicitly

**2. What is the result of this code, and why?**

In [6]:
def func(a, b, c=5):
    print(a, b, c)
func(1, c=3, b=2)

1 2 3

**ANS**:Thus the value passed to a is 1, b is 2, c is 3 irrespective of the order of values c and b passed, as long as you are using named arguments

**3. How about this code: what is its result, and why?**

In [7]:
def func(a, *pargs):
    print(a, pargs)
func(1, 2, 3)

1 (2, 3)

**ANS**:func(1, 2, 3) will prit 1 (2, 3) to the console, because the first parameter passed to the func function will be assigned to parameter a. Any other following arguments will be assigned to arbitary argument pargs which will be an iterable object of type tuple

**4. What does this code print, and why**

In [3]:
def func(a, **kargs):
    print(a, kargs)
func(a=1, c=3, b=2)

1 {'c': 3, 'b': 2}

**ANS**:func(a=1, c=3, b=2) will print 1 {'c': 3, 'b': 2} because the return type of kargs is a dictionary object

**5. What gets printed by this, and explain?**

In [4]:
def func(a, b, c=8, d=5):
    print(a, b, c, d)
func(1, *(5, 6))

1 5 6 5

**ANS**:func(1, (5, 6)) will print 1 5 6 5 to the console. a will take the value of 1, d will default to 5 as it is not passed. (5, 6) will be read as comma seperated values and assigned to b, c respectively

**6. what is the result of this, and explain?**

In [ ]:
def func(a, b, c):
    a = 2; b[0] = 'x'; c['a'] = 'y'
    l=1; m=[1]; n={'a':0}
func(l, m, n)
l, m, n

**ANS**:The values of l, m, n will be unchanged as the func updates the copies of these values but not the original values. So console output will be: (1, [1], {'a': 0})